services:
  dashadminDB:
    image: postgres:15

  frontendadmin.web:
    image: ${DOCKER_REGISTRY-}frontendadminweb
    build:
      context: .
      dockerfile: FrontendAdmin/FrontendAdmin.Web/Dockerfile

  backendadmin.api:
    image: ${DOCKER_REGISTRY-}backendadminapi
    build:
      context: .
      dockerfile: BackendAdmin/BackendAdmin.Api/Dockerfile
            
  # menu.grpc:
  #   image: ${DOCKER_REGISTRY-}menugrpc
  #   build:
  #     context: .
  #     dockerfile: Services/Menu.Grpc/Dockerfile

  menuservice.grpc:
    image: ${DOCKER_REGISTRY-}menuservicegrpc
    build:
      context: .
      dockerfile: Services/MenuService/MenuService.Grpc/Dockerfile

volumes:
  pgdata_dashadmin:

