name: BACKENDADMIN - Deploy images to prod

on:
  workflow_run:
    workflows: ["BACKENDADMIN - Build and Push Docker Images"]
    types: [completed]

jobs:
  setup-config:
    name: Setup config files
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'workflow_run' &&
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_branch, 'v')
    steps:
      - name: Create appsettings.json on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST_PROD }}
          username: ${{ secrets.SSH_USER_PROD }}
          key: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
          passphrase: ${{ secrets.SSH_PASSPHRASE_PROD }}
          port: 22
          script: |
            DIR_PATH="/home/komanatse/backendadmin"
            
            mkdir -p $DIR_PATH/FrontendAdmin/FrontendAdmin.Web.Client/wwwroot
            mkdir -p $DIR_PATH/FrontendAdmin/FrontendAdmin.Web
            
            cat <<EOF > $DIR_PATH/FrontendAdmin/FrontendAdmin.Web.Client/wwwroot/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL_PROD }}"
              }
            }
            EOF
            
            cat <<EOF > $DIR_PATH/FrontendAdmin/FrontendAdmin.Web/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL_PROD }}"
              }
            }
            EOF
            
            echo "✅ appsettings.json créés"

  deploy:
    needs: setup-config
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      service_name: backendadmin
      image_name: backendadmin
      deploy_path: /home/komanatse/backendadmin
      compose_file: docker-compose.prod.yml
      environment: prod
      ssh_port: 22
      build_workflow_name: "BACKENDADMIN - Build and Push Docker Images"
      stack_name: admin
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST_PROD }}
      SSH_USER: ${{ secrets.SSH_USER_PROD }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
      SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE_PROD }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      ENV_CONTENT: |
        POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD_PROD }}
        POSTGRES_DB=${{ secrets.POSTGRES_DB_PROD }}
        POSTGRES_USER=${{ secrets.POSTGRES_USER_PROD }}
        VAULT_URI=${{ secrets.VAULT_URI }}
        VAULT_ROLE_ID=${{ secrets.VAULT_ROLE_ID_PROD }}
        VAULT_SECRET_ID=${{ secrets.VAULT_SECRET_ID_PROD }}
        VAULT_MOUNT_POINT=${{ secrets.VAULT_MOUNT_POINT }}
        JWT_VALID_AUDIENCE_API=${{ secrets.JWT_VALID_AUDIENCE_API }}
        JWT_VALID_ISSUER_API=${{ secrets.JWT_VALID_ISSUER_API }}
        JWT_SECRET_API=${{ secrets.JWT_SECRET_API }}
        VAULT_PATH_MOUNT_POINT=${{ secrets.VAULT_PATH_MOUNT_POINT }}
        VAULT_EMAIL_ADMIN=${{ secrets.VAULT_EMAIL_ADMIN }}
        VAULT_PASSWORD_ADMIN=${{ secrets.VAULT_PASSWORD_ADMIN }}
        CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}
        CONNECTION_STRING_API=${{ secrets.CONNECTION_STRING_API }}
        MENU_SERVICE_URL=${{ secrets.MENU_SERVICE_URL }}
        API_SETTINGS_URL=${{ vars.API_SETTINGS_URL_PROD }}
        VAULT_PATH_MOUNT_POINT_MENU=${{ secrets.VAULT_PATH_MOUNT_POINT_MENU }}
