name: BACKENDADMIN - Deploy images to dev

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["BACKENDADMIN - Build and Push Docker Images"]
    types: [completed]

jobs:
  setup-config:
    name: Setup config files
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Create appsettings.json on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          passphrase: ${{ secrets.SSH_PASSPHRASE }}
          port: 2222
          script: |
            DIR_PATH="/home/komanatse/backendadmin"
            
            mkdir -p $DIR_PATH/FrontendAdmin/FrontendAdmin.Web.Client/wwwroot
            mkdir -p $DIR_PATH/FrontendAdmin/FrontendAdmin.Web
            
            cat <<EOF > $DIR_PATH/FrontendAdmin/FrontendAdmin.Web.Client/wwwroot/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL }}"
              }
            }
            EOF
            
            cat <<EOF > $DIR_PATH/FrontendAdmin/FrontendAdmin.Web/appsettings.json
            {
              "Logging": {
                "LogLevel": {
                  "Default": "Information",
                  "Microsoft.AspNetCore": "Warning"
                }
              },
              "AllowedHosts": "*",
              "ApiSettings": {
                "Uri": "${{ vars.API_SETTINGS_URL }}"
              }
            }
            EOF
            
            echo "✅ appsettings.json créés"

  deploy:
    needs: setup-config
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      service_name: backendadmin
      image_name: backendadmin
      deploy_path: /home/komanatse/backendadmin
      compose_file: docker-compose.dev.yml
      environment: dev
      ssh_port: 2222
      build_workflow_name: "BACKENDADMIN - Build and Push Docker Images"
      stack_name: admin
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      ENV_CONTENT: |
        POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_DB=${{ secrets.POSTGRES_DB }}
        POSTGRES_USER=${{ secrets.POSTGRES_USER }}
        VAULT_URI=${{ secrets.VAULT_URI }}
        VAULT_ROLE_ID=${{ secrets.VAULT_ROLE_ID }}
        VAULT_SECRET_ID=${{ secrets.VAULT_SECRET_ID }}
        VAULT_MOUNT_POINT=${{ secrets.VAULT_MOUNT_POINT }}
        JWT_VALID_AUDIENCE_API=${{ secrets.JWT_VALID_AUDIENCE_API }}
        JWT_VALID_ISSUER_API=${{ secrets.JWT_VALID_ISSUER_API }}
        JWT_SECRET_API=${{ secrets.JWT_SECRET_API }}
        VAULT_PATH_MOUNT_POINT=${{ secrets.VAULT_PATH_MOUNT_POINT }}
        VAULT_EMAIL_ADMIN=${{ secrets.VAULT_EMAIL_ADMIN }}
        VAULT_PASSWORD_ADMIN=${{ secrets.VAULT_PASSWORD_ADMIN }}
        CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}
        CONNECTION_STRING_API=${{ secrets.CONNECTION_STRING_API }}
        MENU_SERVICE_URL=${{ secrets.MENU_SERVICE_URL }}
        API_SETTINGS_URL=${{ vars.API_SETTINGS_URL }}
        VAULT_PATH_MOUNT_POINT_MENU=${{ secrets.VAULT_PATH_MOUNT_POINT_MENU }}
