name: MENUSERVICE  - Deploy to DEV

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["MENUSERVICE  - Build and Push Docker Images"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      service_name: menuservice
      image_name: menuservice
      deploy_path: /home/komanatse/menuservice
      compose_file: docker-compose.menuservice.yml
      environment: dev
      ssh_port: 2222
      build_workflow_name: "MENUSERVICE  - Build and Push Docker Images"
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
      SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      ENV_CONTENT: |
        POSTGRES_PASSWORD_TRESORERIE=${{ secrets.POSTGRES_PASSWORD_TRESORERIE }}
        POSTGRES_DB_TRESORERIE=${{ secrets.POSTGRES_DB_TRESORERIE }}
        POSTGRES_USER_TRESORERIE=${{ secrets.POSTGRES_USER_TRESORERIE }}
        VAULT_URI=${{ secrets.VAULT_URI }}
        VAULT_ROLE_ID=${{ secrets.VAULT_ROLE_ID }}
        VAULT_SECRET_ID=${{ secrets.VAULT_SECRET_ID }}
        VAULT_MOUNT_POINT=${{ secrets.VAULT_MOUNT_POINT }}
        JWT_VALID_AUDIENCE_API=${{ secrets.JWT_VALID_AUDIENCE_API }}
        JWT_VALID_ISSUER_API=${{ secrets.JWT_VALID_ISSUER_API }}
        JWT_SECRET_API=${{ secrets.JWT_SECRET_API }}
        CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}
        CONNECTION_STRING_API=${{ secrets.CONNECTION_STRING_API }}
        VAULT_PATH_MOUNT_POINT_TRESORERIE=${{ secrets.VAULT_PATH_MOUNT_POINT_TRESORERIE }}
