name: MENUSERVICE - Deploy to PROD

on:
  workflow_run:
    workflows: ["MENUSERVICE - Build and Push Docker Images"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event_name != 'workflow_run' || github.event.workflow_run.conclusion == 'success' }}
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      service_name: menuservice
      image_name: menuservice
      deploy_path: /home/komanatse/menuservice
      compose_file: docker-compose.menuservice.yml
      environment: prod
      ssh_port: 22
      build_workflow_name: "MENUSERVICE - Build and Push Docker Images"
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST_PROD }}
      SSH_USER: ${{ secrets.SSH_USER_PROD }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
      SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE_PROD }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      ENV_CONTENT: |
        POSTGRES_PASSWORD_MENU=${{ secrets.POSTGRES_PASSWORD_MENU }}
        POSTGRES_DB_MENU=${{ secrets.POSTGRES_DB_MENU }}
        POSTGRES_USER_MENU=${{ secrets.POSTGRES_USER_MENU }}
        VAULT_URI=${{ secrets.VAULT_URI }}
        VAULT_ROLE_ID=${{ secrets.VAULT_ROLE_ID }}
        VAULT_SECRET_ID=${{ secrets.VAULT_SECRET_ID }}
        VAULT_MOUNT_POINT=${{ secrets.VAULT_MOUNT_POINT }}
        JWT_VALID_AUDIENCE_API=${{ secrets.JWT_VALID_AUDIENCE_API }}
        JWT_VALID_ISSUER_API=${{ secrets.JWT_VALID_ISSUER_API }}
        JWT_SECRET_API=${{ secrets.JWT_SECRET_API }}
        CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}
        CONNECTION_STRING_API=${{ secrets.CONNECTION_STRING_API }}
        VAULT_PATH_MOUNT_POINT_MENU=${{ secrets.VAULT_PATH_MOUNT_POINT_MENU }}
        DOCKER_TAG=$TAG
