name: TRESORERIESERVICE - Deploy images to prod

on:
  workflow_run:
    workflows: ["TRESORERIESERVICE - Build and Push Docker Images"]
    types: [completed]

jobs:
  deploy:
    if: >
      github.event_name == 'workflow_run' &&
      github.event.workflow_run.conclusion == 'success' &&
      startsWith(github.event.workflow_run.head_branch, 'v')
    uses: ./.github/workflows/reusable-deploy.yml
    with:
      service_name: tresorerieservice
      image_name: tresorerieservice
      deploy_path: /home/komanatse/tresorerieservice
      compose_file: docker-compose.tresorerieservice.yml
      environment: prod
      ssh_port: 22
      build_workflow_name: "TRESORERIESERVICE - Build and Push Docker Images"
      stack_name: tresorerie
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST_PROD }}
      SSH_USER: ${{ secrets.SSH_USER_PROD }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY_PROD }}
      SSH_PASSPHRASE: ${{ secrets.SSH_PASSPHRASE_PROD }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      ENV_CONTENT: |
        POSTGRES_PASSWORD_TRESORERIE=${{ secrets.POSTGRES_PASSWORD_TRESORERIE_PROD }}
        POSTGRES_DB_TRESORERIE=${{ secrets.POSTGRES_DB_TRESORERIE_PROD }}
        POSTGRES_USER_TRESORERIE=${{ secrets.POSTGRES_USER_TRESORERIE_PROD }}
        VAULT_URI=${{ secrets.VAULT_URI }}
        VAULT_ROLE_ID=${{ secrets.VAULT_ROLE_ID_PROD }}
        VAULT_SECRET_ID=${{ secrets.VAULT_SECRET_ID_PROD }}
        VAULT_MOUNT_POINT=${{ secrets.VAULT_MOUNT_POINT }}
        JWT_VALID_AUDIENCE_API=${{ secrets.JWT_VALID_AUDIENCE_API }}
        JWT_VALID_ISSUER_API=${{ secrets.JWT_VALID_ISSUER_API }}
        JWT_SECRET_API=${{ secrets.JWT_SECRET_API }}
        CORS_ALLOWED_ORIGINS=${{ secrets.CORS_ALLOWED_ORIGINS }}
        CONNECTION_STRING_API=${{ secrets.CONNECTION_STRING_API }}
        VAULT_PATH_MOUNT_POINT_TRESORERIE=${{ secrets.VAULT_PATH_MOUNT_POINT_TRESORERIE }}
